# Maven
**/target
**/.mvn
**/logs

# Environment
**/.env
**/.DS_Store
**/.idea
**/.vscode
**/.classpath
**/.project
**/.settings
**/out

# Git
.git
.gitignore

# System
Thumbs.db
ehthumbs.db
.DS_Store
*.swp

# Backup and temp
*~
*.bak
*.tmp
*.log

# IntelliJ
*.iml
*.ipr
*.iws
