{{> header}}

<div class="container mt-5">
    <h2 class="text-center">Edit Book</h2>
    <form action="/admin/books/edit/{{book.id}}" method="post">
        <div class="form-group">
            <label>Title</label>
            <p>Current: <strong>{{book.title}}</strong></p>
            <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label>Author</label>
            <p>Current: <strong>{{book.author}}</strong></p>
            <input type="text" name="author" class="form-control">
        </div>

        <button type="submit" class="btn btn-success mt-3">Update Book</button>
        <a href="/admin/books" class="btn btn-secondary mt-3">Cancel</a>
    </form>
</div>

{{> footer}}
