{{> header}}

<div class="container mt-5">
    <h2 class="text-center">
        {{#isAdmin}}Manage Books{{/isAdmin}}
        {{^isAdmin}}My Books{{/isAdmin}}
    </h2>

    <!-- Create Book Button -->
    <a href="/books/create" class="btn btn-primary mb-3">Create Book</a>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#books}}
        <tr>
            <td>{{title}}</td>
            <td>{{author}}</td>
            <td>{{genre}}</td>
            <td>{{description}}</td>
            <td>
                <a href="/books/edit/{{id}}" class="btn btn-warning btn-sm">Edit</a>
                <form action="/books/delete/{{id}}" method="post" class="d-inline">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {{/books}}
        </tbody>
    </table>

    <!-- Back button for Admin -->
    {{#isAdmin}}
    <div class="d-flex justify-content-end mt-3">
        <a href="/admin" class="btn btn-secondary mt-3">Back</a>
    </div>
    {{/isAdmin}}

    <!-- Back button for USER -->
    {{^isAdmin}}
    <div class="d-flex justify-content-end mt-3">
        <a href="/myaccount" class="btn btn-secondary mt-3">Back</a>
    </div>
    {{/isAdmin}}
</div>

{{> footer}}
