{{>header}}

<!-- THE FORM CONTENT STARTS HERE-->
<!-- checkout-area start -->
<div class="account-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                <div class="account-form form-style">

                    <form action="/perform_login" method="post">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                        <input type="email" name="username" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit">SIGN IN</button>
                    </form>

                    <div class="text-center">
                        <a href="register">Or Creat an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout-area end -->
<!-- THE FORM CONTENT ENDS HERE-->

{{>footer}}
